body {
  font-family: Arial, sans-serif;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Add this line to make flex children stack vertically */
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.title {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  margin-top: 100px;
}
.h3 {
  color: #333;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 45%;
}
.container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  position: relative;
}
.container2 {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: left;
  position: relative;
  margin-top: 50px;
}
h1 {
  color: #333;
  margin-bottom: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 20px;
}
.button {
  background-color: #888;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s, transform 0.3s;
}
.button.on {
  background-color: #007bff;
  transform: scale(1.05);
}
.button:hover {
  background-color: #555;
}
.relay-status {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}
.link {
  margin-top: 20px;
  display: block;
  color: #007bff;
  text-decoration: none;
  font-size: 16px;
}
.link:hover {
  text-decoration: underline;
}
.temperature {
  position: relative;
  top: 10px;
  font-size: 18px;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  background-color: #f8f9fa;
  margin-top: 10px;
}
